*{
    margin: 0;
    padding: 0;
}

body{
    background-color:plum;
   
            text-align: left;

}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(5, 49, 71);
    font-size: 25px;
}
h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
   
    font-weight: bold;
    margin-top: 40px;
}

form{
    background-color: #f3edf4;
    
    font-weight: bold;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
input {
    background-color:rgb(44, 10, 99);
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: Verdana;
    font-size: 18px;
    color:white;
    margin-top: 25px;
    margin-bottom: 25px;
}
